/* import the normalize stylesheet to eliminate differences between browser defaults */
@import url(../lib/normalize.css);

/* import the Google font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);

/*
    things we will practice in this example
    - display and fixed positioning for nav layout
    - styling svg
    - floats and clears
    - border radius
    - absolute positioning
*/

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    padding: 2em;
}

svg {
    height: 1em;
    fill: #FFF; /* turns the image white */
}

nav {
    background-color: rgba(0,0,0,0.8); /* adds transparency to nav bar */
    color: #FFF;
    position: fixed; /* the nav bar won't move */
    top: 0; /* where is the nav bar fixed to */
    left: 0;
    width: 100%;


}

nav li { 
    display: inline-block;
    padding-left: 1em; /* seperates the elements */
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav a { 
    color: #FFF;
    text-decoration: none;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}