<h1>Edit {{contact.fname}} {{contact.lname}}</h1>

<!-- tell browser to not validate, let angular do it -->
<form name="contactForm" novalidate ng-submit="save()">
    <div class="form-group">
        <label for="fnameImP">First Name:</label>
        <input type="text" class="form-control" id="fnameImp"
                name="fnameImp" ng-model="contact.fname" required/>
        <!-- if satement is true, p will display -->
        <p class="validation-error" ng-if="contactForm.fnameImp.$error.required">First name is required</p>
    </div>
    <div class="form-group">
        <a class="btn btn-default" ui-sref="list">Cancel</a>
        <!-- disabled save button if form invalid -->
        <button type="submit" class="btn btn-primary"ng-disabled="contactForm.$invalid">Save</button>
    </div>
</form>